<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Form</title>
</head>
<body>
    <h1>Movie Registration</h1>
    <form method="post">
        <label for="name">Name: </label>
        <input id="name" name="name">

        <label for="duration">Duration(Time in minutes): </label>
        <input id="duration" name="duration">

        <label for="release_year">Release Year: </label>
        <input id="release_year" name="release_year">

        <label for="movie_genre">Movie Genre: </label>
        <input id="movie_genre" name="movie_genre">

        <input type="submit" value="Register">
    </form>
</body>
</html>