<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <title>Movie Form</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Movie Registration</h1>
        <form method="post" action="/movies">
            <label for="name">Name: </label>
            <input id="name" name="name">

            <label for="duration">Duration(Time in minutes): </label>
            <input id="duration" name="duration">

            <label for="release_year">Release Year: </label>
            <input id="release_year" name="releaseYear">

            <label for="movie_genre">Movie Genre: </label>
            <input id="movie_genre" name="movieGenre">

            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>